.navbar > .container {
	justify-content: inherit;
}

.navbar > .container > * {
	margin-right: 1rem;
}

.navbar svg {
	background-color: black;
	border-radius: 50%;
	fill: white;
}

.jumbotron {
	padding-bottom: 1em;
	padding-top: 1em;
}

.automaticHeight {
	box-sizing: padding-box;
	overflow: hidden;
	resize: none;
}

input:invalid,
textarea:invalid,
select:invalid {
	border: 2px solid red;
}

.form-inline {
	flex-direction: column;
}

.form-check {
	margin-top: 1em;
}

.submit-form-group {
	text-align: center;
	margin-top: 1em;
}

#output {
	border-width: 4px;
	transition: border-color 0.6s ease-out;
}

footer:after {
	content: '';
	clear: both;
	display: table;
}

@media (min-width: 576px) {
	label + select {
		margin-left: 0.5em;
	}
}

@media (min-width: 992px) {
	.form-check {
		margin-left: auto;
		margin-top: 0;
	}

	.form-inline {
		flex-direction: row;
	}
}
